<!-- <div class="row">
  <div class="col-sm-6 mt-4">
<button type="button" class="btn btn-primary mx-auto d-block">
  purchased
</button>
</div>
<div class="col-sm-6 mt-4">
<button type="button" class="btn btn-primary mx-auto d-block">
  sales
</button>
</div>
</div>
<router-outlet></router-outlet> -->
<table class=" table table-bordered text-center mt-5">
    <thead class="thead-dark">
      
        <th>S.no</th>
        <th>Medicine</th>
        
        <th>Quantity</th>
        <th>Purchased Price</th>
        <th>selling price</th>
        <th>Profit</th>
     
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
    </tbody>
  </table>