<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-info">
      <img src="/assets/images.png" width="100" height="50">
      
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink="/login" class="nav-link">LogIn</a></li>
         
          <li class="nav-item"><a routerLink="/about" class="nav-link">AboutUs</a></li>
        </ul>
      
    </nav>
    
    
        <router-outlet></router-outlet>
  </div>
  