<input type="text" [(ngModel)]="searchTerm" class="form-control mt-5">search here
<table class=" table table-bordered text-center mt-5">
  <thead class="thead-dark">
      <th>S.no</th>
      <th>Medicine</th>
      <th>Usage</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Add to cart</th>
      
  </thead>
  <tbody>
    <tr *ngFor="let i of data|search:searchTerm">
      <td>{{i.sno}}</td>
      <td>{{i.medicine}}</td>
      <td>{{i.usage}}</td>
      <td>{{i.qty}}</td>
      <td>{{i.price}}</td>
      <td><button type="button" class="btn btn-success" (click)="submit(i)">+</button></td>
      
    </tr>
  </tbody>
</table>