<div class="row">
    <div class="col-sm-6 offset-sm-3 jumbotron">
      <h1 class="text-success text-center">Register</h1>
      
      <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)">
        <div class="form-group">
          <label>User-name</label>
          <input type="text" name="name" [(ngModel)]="name" class="form-control" #n1="ngModel" placeholder="User-name" required>
        </div>
        <label *ngIf="n1.touched&&n1.invalid" class="text-danger">*Enter User-name</label>
        <div class="form-group">
            <label>E-mail</label>
            <input type="email" name="em" [(ngModel)]="em" class="form-control" #e="ngModel" placeholder="E-mail id" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="pwd" [(ngModel)]="pwd" class="form-control" #p="ngModel" placeholder="password" required minlength="6">
        </div>
        
        <label *ngIf="p.touched&&p.invalid&&p.errors?.minlength" class="text-danger">*reqired atleast 6 charecters</label>
        <div class="form-group">
            <label>Re-enter Password</label>
            <input type="password" name="pwd1" [(ngModel)]="pwd1" class="form-control" #p1="ngModel" placeholder="password" required minlength="6">
        </div>
        <label *ngIf="p1.value!=p.value&&p1.touched" class="text-danger">*password mis-match</label>
        <div class="form-group">
            <label>Mobile No.</label><br/>
            <select>
              <option>India +91</option>
              <option>U.S.A +1</option>
              <option>Singapoor +65</option>
              <option>U.K +44</option>
              <option>Malaysia +61</option>
            </select>
            <input type="text" name="num" [(ngModel)]="num" class="form-control" #n="ngModel" placeholder="Mobile Number" required minlength="6">
        </div>
        <span class="text-danger">*all fields are mandatory</span><br/>
        <button type="submit" class="btn btn-primary ml-4 ">SignUp</button>
        <button type="button" class="btn btn-primary ml-4">Login</button>
      </form>
      
      <router-outlet></router-outlet>
     
    </div>
  </div>