<div class="container">
  <div class="row jumbotron">
  <div class="text-dark">  
<p>
    Matrix medical network is today the most renowned whole seller, trader supplieras well as retailer of vast varieties of drugs & medicines and trusted all over the nation for genuine products at very reasonable rates. The company was coined in the 2002 and the company has become the prominent distributer for about 8 out of 10 leading pharmaceutical companies of India. We always have the availability of medicines of over 50 pharmaceutical companies.</p>
<p>
    Our tradeendeavors comprises of elevated Pharma distribution chain such as C & F as well as Super Distributors. We have the accessibility of major & principal pharmaceutical companies such as GSK, Pfizer,Dr. Reddys, Cipla, Natco Pharma Pharmaceuticalsetc.
  </p>
  <p> 
    Our competitive positive aspects includeGood Financial Position & TQM in addition to huge product line etc. We are honored to have huge range of cancer drugs such as LENALID, VEENAT with timely obtainability. This is due to our comprehensive & Dynamic sales as well as distribution system.
</p><br/></div>
<h3  class="text-danger">
    Our Mission is to make healthcare understandable, accessible and affordable
</h3>
<p class="text-dark mt-4">
    We want you to understand the medicines that you take and that you give your loved ones.

    Buying medicines may require you to try 5 medical stores which are miles apart. We want you to be able to do it with a click.
    
    Medicines can be expensive. We want you to know about medicines which have the same composition as prescribed by your doctor but can be considerably cheaper.
</p>
  
 <b  class="text-danger"> We want you to be in charge of your medical care.</b><br/>

<i><b class="text-danger">We are highly preferred in the market due to our following facts:</b></i>
<ul class="text-dark">
<li>Ethical business relations</li>
<li>Spacious warehouse</li>
<li>Excellent Cold Storage Facility for maintain the quality of the products</li>
<li>well-experienced and capable staff</li>
<li>High quality product line</li>
<li>Easy payment choices</li>
<li>timely availability</li>
<li>Timeliness</li>
<li>Custom-madepacking</li>
<li>Expedient shipment facility</li>
</ul>
</div>
</div>