<div class="container">
  <nav class="navbar expand-sm navbar-dark bg-info">
    <img src="/assets/images.png" width="100" height="50">
  </nav>
  <div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
            
            <li class="nav-item"><a routerLink='stock' class="nav-link">Stocks</a></li>
            <li class="nav-item"><a routerLink='company' class="nav-link">Company</a></li>
            <li class="nav-item"><a routerLink="sr" class="nav-link">Sales Report</a></li>
            <li class="nav-item"><a routerLink="stores" class="nav-link">Medical Stores</a></li>
            <li class="nav-item"><a routerLink="order" class="nav-link">Orders</a></li>
            <li class="nav-item"><a href="#" class="nav-link">LogOut</a></li>
          </ul>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>